main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: auto;
}

button {
  cursor: pointer;
}

dialog {
  background-color: aquamarine;
  border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: fixed;
  top: calc(50vh - 20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40px;
}

p {
  font-size: 18px;
}

label {
  font-size: 18px;
}

h1 {
  text-align: center;
  font-size: 25px;
}

h1.darkmode, hr.darkmode {
  color: white;
}

section.titlebox {
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: white;
  position: fixed;
  top: 0;
  left: calc(50% - 350px);
  width: 700px;
  z-index: 10;
}

section.titlebox.darkmode {
  background-color: rgb(50, 51, 58);
}

h2 {
  font-size: 23px;
  text-align: center;
}

h3 {
  font-size: 21px;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 450px;
  align-self: center;
}

.question-card-box {
  display: flex;
  flex-direction: column;
  border-style: solid;
  padding-left: 5px;
  position: relative;
}

p.question {
  max-width: 300px;
  align-self: center;
}

p.form-outcome {
  align-self: center;
}

p.red {
  color: red;
}

p.green {
  color: green;
}

.answer-button {
  max-width: fit-content;
  align-self: center;
  font-size: 18px;
}

.category {
  background-color: blue;
  color: white;
  font-size: 18px;
  padding: 4px;
  margin-bottom: 8px;
  margin-top: 8px;
  height: 20px;
}

.tag-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  align-items: center;
}

.bookmark-button {
  max-width: fit-content;
  font-size: 25px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

a {
  font-size: 30px;
  text-decoration: none;
}

nav {
  position: fixed;
  bottom: 3%;
  left: calc(50% - 100px);
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  border: solid 1px black;
  padding: 10px;
  width: 200px;
  background-color: white;
}

.current {
  background-color: cyan;
}

.toggledarkbutton {
  font-size: 18px;
  padding: 4px;
}

body.darkmode {
  background-color: rgb(50, 51, 58);
  color: white;
}

.selected-bookmark-button {
  background-color: greenyellow;
}

.card-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 450px;
  align-self: center;
}

.display-length-characters {
  color: gray;
  margin-top: 0;
  font-size: 16px;
}

#form-outcome-container {
  width: 450px;
  align-self: center;
}

.delete-bookmark, .delete-card {
  max-width: fit-content;
  align-self: center;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0 4px;
}